<!DOCTYPE html>
<html>
<head>
    <title>Chocolate House</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Fictional Chocolate House</h1>
    </header>
    <nav>
        <a href="/seasonal_flavors">Seasonal Flavors</a> |
        <a href="/inventory">Ingredient Inventory</a> |
        <a href="/customer_feedback">Customer Suggestions</a> |
        <a href="/admin_feedback">Admin - View Feedback</a>
    </nav>
    <footer>
        <p>&copy; 2024 Chocolate House</p>
    </footer>
</body>
</html>
